{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="{% static 'static/output.css' %}" />
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body>

  <main>

    {% block content %}
        {% include "admin/user_list.html" %}
    {% endblock content %}

  </main>

  <script>
    document
      .getElementById("menu-toggle")
      .addEventListener("click", function () {
        document.getElementById("mobile-menu").classList.toggle("hidden");
      });

    document
      .getElementById("user-menu-button")
      .addEventListener("click", function () {
        document.getElementById("user-menu").classList.toggle("hidden");
      });

    // Close the dropdown when clicking outside
    window.addEventListener("click", function (e) {
      if (!document.getElementById("user-menu-button").contains(e.target)) {
        document.getElementById("user-menu").classList.add("hidden");
      }
    });
  </script>
</body>

</html>